body {
  margin: 0;
  padding: 0;
  background-color: black;
}

#root {
  font-family: system-ui, Helvetica;
  background-color: black;

  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;

  display: flex;
  place-items: center;
  flex-direction: column;
  height: 100lvh;
  width: 100vw;
  margin: 0;
  padding: 0;
}

#root > * {
  border-radius: 5px;
}

.mainContainer {
  display: flex;
  flex-direction: column;
  margin: 10px 0;
  width: clamp(450px, 60%, 800px);
  height: clamp(200px, 95%, 1200px);
  background-color: #040015;
  border: 2px solid #4d0099;
  border-radius: 10px;
}

.flexItem {
  display: flex;
  justify-content: space-evenly;
  background-color: var(--textBoxBackground);
  box-shadow: 1px 2px 3px rgba(0,0,0,.5);
  color: white;
}

#toolbar {
  flex-wrap: wrap;
  justify-content: space-around;
  height: fit-content;
  border-top: 1px solid #fab500;
  justify-content: start;
  margin-top: 10px;
}

.toolbarItem {
  display: flex;
  width: 100%;
  height: 39px;
}

/* divides the encrypt/decrypt toolbar into 2 */
.division {
  flex: 1;
}

/* Where the messages will come in through */
#main-display {
  height: clamp(100px, 100%, 1000px);
  width: 100%;
  display: flex;
  flex-direction: column;
  overflow-y: scroll;
}

.message {
  border: 1px solid gray;
  display: flex;
  margin: 10px;
  background-color: #1a1a1a;
  padding: 10px;
  border-radius: 10px;
  height: fit-content;
  width: fit-content;
  max-width: 100%;
  word-wrap: break-word;
  overflow-wrap: anywhere;
}

.userMessage {
  background-color: #00b359;
  margin-right: clamp(10px, 5%, 50px);
}

.otherUserMessage {
  background-color: #0099ff;
  justify-content: flex-end;
  width: fit-content;
  /* margin-left: clamp(10px, 10px, 500px); */
}

/* Contains the text entry and Submit button */
#input-menu{
  height: clamp(100px, 10%, 200px);
  font-size: clamp(1rem, 2vw, 3.5rem);
}

/* Changes the styling when text entry is focused */
input[type=text]:focus {
  outline: 1px solid gold;
}

/* Where user enters their text. */
#text-input {
  width: 70%;
  height: 95%;
  font-size: clamp(12px, calc(.2rem + .8vw), 24px);
  caret-color: gold;
  color: #39ff14;
  margin: auto;
  align-self: flex-start;
  overflow-wrap: break-word;
}

/* input for the keys */
.keyInput {
  align-items: end;
  width: 100%;
  font-size: clamp(12px, calc(.2rem + .8vw), 24px);
}

textarea {
  border: 1px solid #4d0099;
}

textarea:focus {
  outline: 1px solid gold;
}

/* Where user submits their text. */
#submit-button {
  width: 25%;
  height: 100%;
  margin: auto;
  align-items: center;
  font-size: clamp(16px, calc(.8rem + .8vw), 48px);
}

/* Styles for all buttons */
button {
  height: 100%;
  margin: 1px 0px;
  align-items: center;
  align-self: flex-end;
  padding: 0 10px;
  flex-grow: 1;
  transition: border-color 0.25s;
  border: 1px solid #646cff;
  border-radius: 10px;
}
button:hover {
  border-color: #646cff;
}

a {
  font-weight: 500;
  color: #646cff;
  text-decoration: inherit;
}
a:hover {
  color: #535bf2;
}


